<%= form_for(@product, url: products_path, html: { id: "product-create-form" }) do |f| %>
  <h1 class="text-center">
    Create Product
  </h1>
  <div class="form-group">
    <%= f.file_field :image, id: "product_image_field", class: 'form-control image-uploader' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :name_field, "Product Name" %> </h4>
    <%= f.text_field :name, id: "product_title_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :text_field, "Product Description" %> </h4>
    <%= f.text_field :description, id: "product_description_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :sku_field, "Product SKU" %> </h4>
    <%= f.text_field :sku, id: "product_sku_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :brand_field, "Brand" %> </h4>
    <%= f.text_field :brand, id: "product_brand_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :price_field, "Selling Price" %> </h4>
    <%= f.text_field :price, id: "product_price_field", class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= f.submit "Create Product", class: "btn btn-success btn-lg" %>
  </div>
<% end %>
